.choose-pokemon {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.previous img{
  height: 30px;
  width: 30px;
}

.pokemon-display-box div:first-of-type {
  display: block;
}

.pokemon-display-box div{
  display: none;
}

.pokemon-display-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 180px;
}

.poke1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.text{
  text-align: center;
}

.poke2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.poke3 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.next img{
  height: 30px;
  width: 30px;
}

.switch {
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.page2 {
  display: none;
}
